<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"><ion-icon slot="icon-only" name="close" ></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertPrompt()" ><ion-icon slot="icon-only" name="add" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor='let history of student_history'>
    <ion-item (click)='booksubmit(history.status,history.id)' >
      {{history.book_name}}     {{history.takenin_date}}    {{history.status}}
    </ion-item>
  </ion-list>
</ion-content>
