<ion-content>
  <ion-slides (ionSlideDidChange)="slideChanged(slides)" pager="true" [options]="slideOpts" #slides>
    <ion-slide>
      <h2>Welcome to STUD</h2>
      <ion-text
        >An app for students and educational institution which helps both of
        them to manage themselves.</ion-text
      >
    </ion-slide>
    <ion-slide>
      <h2>We provide all services</h2>
    </ion-slide>
    <ion-slide>
      <h2>We organize your works</h2>

    </ion-slide>
  </ion-slides>

  
  <div class="ion-text-center ion-margin-vertical">
    <ion-button *ngIf='buttonvisible' [routerLink]="['/','login']">Get Started</ion-button>
  </div>

  
</ion-content>
