ion-slide{
    padding: 160px 20px;
    display: block;
    h2{
        font-size: 36px;
        font: bold;
    }
    
}

ion-slides{
    height: 100%;
    // background: #1D976C;
    /* fallback for old browsers */
     background: -webkit-linear-gradient(to bottom, #00aae7, #003f87);
    /* Chrome 10–25, Safari 5.1–6 */
     background: linear-gradient(to bottom, #00aae7, #003f87);
}



.button{
    margin-top: 100px;
}
