<ion-content>
  <ion-slides  pager="true" [options]="slideOpts" #slides>
    <ion-slide>
      <h2>Welcome to STUD</h2>
      <ion-text
        >An app for students and educational institution which helps both of
        them to manage themselves.</ion-text
      >
    </ion-slide>
    <ion-slide>
      <h2>We provide all services</h2>
    </ion-slide>
    <ion-slide>
      <h2>We organize your works</h2>
      
  
  <div class="ion-text-center button">
    <ion-button color='dark'  [routerLink]="['/','login']">Get Started</ion-button>
  </div>

    </ion-slide>
  </ion-slides>


  
</ion-content>
