<ion-card>

  <ion-card-content>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img [src]='currentStudent_photo'>
        </ion-img>
      </ion-avatar>
     <ion-label>
       {{currentStudent_name}}
      </ion-label>
    </ion-item>

    <ion-img [src]='post_image'></ion-img>
    
    <ion-item>
      <ion-buttons *ngIf="!liked" slot="start">
        <ion-button (click)='addlike()' >
          <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons> 
     <ion-buttons *ngIf='liked' slot="start" >
        <ion-button (click)='removelike()' >
          <ion-icon name="heart" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>{{likesCount}} Likes</ion-label>
     
      <ion-label>{{post_caption}}</ion-label>
      <ion-chip (click)='presentModal()' slot="end">
        <ion-label>Comments</ion-label>
      </ion-chip>
      
    </ion-item>

   
  </ion-card-content>

</ion-card>

