<ion-content>
<ion-card  >
  <ion-card-header >
    <ion-item lines="none">
      <ion-avatar class="avatar" slot="start" >
        <ion-img class="avatar"    [src]='currentStudent_photo'>
        </ion-img>
      </ion-avatar>
     <ion-label style="font-weight: bold;"  class="fitin-line">
       {{currentStudent_name}}<br><br><span class="user-id">{{currentStudent_id}}</span>
      </ion-label>
      <ion-icon name="ellipsis-vertical-outline" slot="end" ></ion-icon>
   
   
     

    </ion-item> </ion-card-header>
  
   
    <ion-img class="post-image"   [src]='post_image' ></ion-img>
    <ion-card-content><h4>
     <ion-label class="student-name" color="tertiary">
        {{currentStudent_name}}
      </ion-label></h4><ion-label slot="start" color="dark"class="post-caption"><h3>{{post_caption}}</h3></ion-label>
    <ion-item lines="none">
      <ion-buttons *ngIf="!liked">
        <ion-button class="like-button" (click)='addlike()' >
        <ion-icon color="dark"  name="heart-outline" ></ion-icon>
        </ion-button>
      </ion-buttons> 
     <ion-buttons *ngIf='liked' >
        <ion-button class="like-button" (click)='removelike()' >
          <ion-icon color="danger" name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>  
      
  
       
      

      <ion-label class="ion-padding">{{likesCount}}</ion-label>
     <ion-icon color="dark" class="comment-icon" name = "chatbubble-outline" (click)='presentModal()' ></ion-icon>
      <ion-label (click)='presentModal()' class="comment-count"> {{CommentsCount}}</ion-label>
      <ion-icon name = "arrow-redo" class="social-share" ></ion-icon>  
    
      
    </ion-item>

   
  </ion-card-content>

</ion-card>

</ion-content>