<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <form [formGroup]="form">
    <ion-avatar tappable (click)="presentActionSheet()"><ion-img [src]="this.form.get('photo').value"></ion-img></ion-avatar>
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1" class="ion-align-self-center">

          <ion-item lines="none">
            <ion-label position="stacked">Name</ion-label>
            <ion-input formControlName="name"  type="text"  ></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked" >Email Id</ion-label>
            <ion-input formControlName="emailid"  email type="email"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="stacked" >Entry number</ion-label>
                <ion-input formControlName="entry_no" type="text"  ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
  

          <ion-button expand="block" [disabled]="!form.dirty" (click)="onSubmit()" shape="round" >Save</ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ion-content>


