<ion-header>
  <ion-toolbar>
    <ion-title>Librarian Side</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scanBarcode()"
        ><ion-icon slot="icon-only" name="qr-code"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [(ngModel)]="Segment"
      #segment
      (ionChange)="segmentchange($event)"
    >
      <ion-segment-button value="0"> Students </ion-segment-button>
      <ion-segment-button value="1"> Pendings </ion-segment-button>
      <ion-segment-button value="2"> Books </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    (ionSlideDidChange)="slidechange()"
    (ionSlidesDidLoad)="slidechange()"
    [options]="slideOpts"
    #slides
  >
    <ion-slide>
      <div class="div">
        <ion-searchbar (ionChange)="filterStudents($event)"></ion-searchbar>
        <ion-list>
          <ion-item  *ngFor="let student of dummyStudents" (click)=" LibraryStudentInfoModal(student.student_id)">
            <ion-avatar slot="start">
             <ion-img [src]='student.student_photo'></ion-img>
            </ion-avatar>
            
             
            <ion-label>{{student.student_name}}</ion-label>
            <ion-chip color='primary' >
              <ion-label color="primary">{{student.student_id}}</ion-label>
            </ion-chip>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="div"></div>
    </ion-slide>
    <ion-slide>
      <div class="div">
        <ion-searchbar></ion-searchbar>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
