<ion-header>
  <ion-toolbar color>
    <ion-title>Librarian Side</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='scanBarcode()'>
        <ion-icon slot="icon-only" name="qr-code"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<super-tabs>
  <super-tabs-toolbar color="success" slot="top">
    <super-tab-button>
      <ion-label>Students</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Pendings</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Books</ion-label>
    </super-tab-button></super-tabs-toolbar
  >
  <super-tabs-container>
    <super-tab>
      <ion-content>
        <ion-searchbar (ionChange)="filterStudents($event)"></ion-searchbar>
        <ion-list>
          <ion-item
            *ngFor="let student of dummyStudents"
            (click)=" LibraryStudentInfoModal(student.student_id)"
          >
            <ion-avatar slot="start">
              <ion-img [src]="student.student_photo"></ion-img>
            </ion-avatar>
            <ion-label>{{student.student_name}}</ion-label>
            <ion-chip color="primary">
              <ion-label color="primary">{{student.student_id}}</ion-label>
            </ion-chip>
          </ion-item>
        </ion-list>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-card *ngFor="let pending of pendings">
          <ion-item>
            <div>
              <ion-label class="ion-margin-top"
              ><strong>{{ pending.book_name }}</strong></ion-label
            >
              <ion-label color="secondary" class="ion-margin-top"
                >Student ID :{{ pending.student_id }}</ion-label
              >
            
              <ion-label class="ion-margin-top" color="primary">
                Taken Date : {{ pending.takenin_date | date }}</ion-label
              >
              <ion-label
                class="ion-margin-vertical"
                color="success"
                *ngIf='pending.status==="submitted"'
                >Submittedtime :{{pending.submit_date| date}}</ion-label
              >
              <ion-label
                class="ion-margin-vertical"
                color="warning"
                *ngIf='pending.status==="pending"'
                >To be Submitted by :{{pending.takenin_date +
                pending.submit_date*86400000|date}}</ion-label
              >
              <ion-label
                class="ion-margin-vertical"
                color="danger"
                *ngIf='pending.status==="over due"'
                >To be Submitted by :{{pending.takenin_date +
                pending.submit_date*86400000|date}}</ion-label
              >
            </div>

            <ion-chip
              *ngIf="pending.status==='submitted'"
              slot="end"
              color="success"
            >
              <ion-label color="success">{{ pending.status }}</ion-label>
            </ion-chip>
            <ion-chip
              *ngIf="pending.status==='pending'"
              slot="end"
              color="warning"
            >
              <ion-label color="warning">{{ pending.status }}</ion-label>
            </ion-chip>
            <ion-chip
              *ngIf="pending.status==='over due'"
              slot="end"
              color="danger"
            >
              <ion-label color="danger">{{ pending.status }}</ion-label>
            </ion-chip>
          </ion-item>
        </ion-card>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-searchbar (ionChange)="filterBooks($event)"></ion-searchbar>
        <ion-item *ngFor="let book of dummybooks">
          <ion-label>{{book.book_name}}</ion-label>
          <ion-chip><ion-label>{{book.author}}</ion-label></ion-chip>
        </ion-item>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>
