
<ion-content class="ion-padding">

    <ion-row>
      <ion-col size-lg=4 offset-lg=4>
      
<ion-card >
      <ion-item>
        <ion-icon color="tertiary" name="mail-outline" slot="start"> </ion-icon>
    
          <ion-label color="tertiary" position="floating">Entry number</ion-label>
            <ion-input type="text"> </ion-input>
          </ion-item>
        
          <ion-item>
            <ion-icon color="tertiary" name="lock-closed-outline" slot="start"> </ion-icon>
            <ion-label color="tertiary" position="floating">Password</ion-label>
            <ion-input type="password"> </ion-input>
          </ion-item>
          
        
          <ion-button color="tertiary" class="ion-margin-vertical" expand="block" shape="round">Login</ion-button>
          <ion-button name="google" color='tertiary' (click)='clickongooglesignin()' 
          shape="round" ><ion-icon name="logo-google" slot="start" > </ion-icon></ion-button
           >
        
         
          </ion-card>
        

      </ion-col>
    </ion-row>



</ion-content>