.logo{
    margin-top: 100px;
    width: 100%;
    margin-bottom: 50px;
    -webkit-filter: drop-shadow(2px 2px 2px #a9a9ac);
    filter: drop-shadow(2px 2px 2px #a9a9ac);

    

}


ion-item{
    border-width: 2px;
    background-color: black;
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
    margin-top: 5px;
}