.chat{
    display: flex;
    flex-direction: column;
    .me{
        position: relative;
        align-self: end;

    }
    .you{
        position: relative;
        align-self: start;
    }
}
.student-name{
   font-weight: bold;
   text-transform: lowercase;
}
.receivers{
    white-space: initial;
   
}
.senders{
  white-space: initial;
}
