

<ion-header>
  <ion-toolbar>
    <ion-title>outpass_studentside</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class='ion-padding'>
  <div >
  <ion-item>
    <ion-label position='floating'>
      Enter your purpose here
    </ion-label>
    <ion-input [(ngModel)]='Purpose_Outing'  >

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='floating'>
      Enter your phone No here
    </ion-label>
    <ion-input [(ngModel)]='PhoneNo_Outing'  >

    </ion-input>
  </ion-item>

<ion-button>
  Generate QR Code
</ion-button>

<ion-button (click)='LongBreakForm()'>
  Apply for Break
</ion-button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<ion-list>
  <ion-item>Wave Mall</ion-item>
  <ion-item> Theka </ion-item>
  <ion-item> Chai-Sutta </ion-item>
</ion-list>
</div>

<div >

</div>
</ion-content>
