<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Outpass Studentside</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        To register going out press the floating icon below
      </ion-col>
    </ion-row>
  </ion-grid> 

  <ion-list>
    <ion-item *ngFor='let log of Register_Logs'>
      <ion-label>{{log.purpose}}</ion-label>
      <ion-label>{{log.student_phoneno}}</ion-label>
      <ion-label>{{log.intime}}</ion-label>
      <ion-label>{{log.outtime}}</ion-label>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='OutpassForm()'>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>




