<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="dismiss()"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size=10 offset=1>
        <ion-item>
          <ion-label position="floating">Previous Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        
          <ion-button shape="round" expand="block" >Reset</ion-button>


       

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
