<ion-menu contentId='home'>
  <ion-list id="inbox-list">
    <ion-img class="college-logo" slot ="start" src="/assets/icon.png"  ></ion-img>
     <ion-menu-toggle> 
      <ion-item lines="none" [routerLink]="['/','home','profile']" detail class="userInfo" button>
        
        <div mode=md class="profile_info">
          <ion-title> {{student_name}}</ion-title>
          <ion-note style="padding-left: 9%;">{{student_id}}</ion-note>

        </div>
    
        
      </ion-item>
      
      
    </ion-menu-toggle> 
    <div class="menu-list">
    <ion-menu-toggle>
      <ion-item [routerLink]="['/','home','librarianside']"> <ion-icon color="primary" name="scan-sharp"></ion-icon>
        Librarian Side
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      
      <ion-item [routerLink]="['/','home','librarystudentside']"> <ion-icon color="primary" name="book-outline"></ion-icon>
        Library StudentSide
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item [routerLink]="['/','home','outpass-studentside']"> <ion-icon color="primary" name="shuffle"></ion-icon>
        Outpass
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
     
      <ion-item (click)='onLogout()'> <ion-icon color="primary" name="exit-outline"></ion-icon>
        Logout
      </ion-item>
    
    </ion-menu-toggle>
  </div>
    

    
  </ion-list>
  
</ion-menu>


<ion-router-outlet id="home">
 </ion-router-outlet>


<ion-tabs >
  <ion-tab-bar slot="bottom" class="footer"  >
   

  <ion-tab-button tab="newsfeed">
    <ion-icon name="home"></ion-icon>
    <ion-label>Newsfeed</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="timeline">
    <ion-icon name="person"></ion-icon>
    <ion-label>Timeline</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="settings">
    <ion-icon name="settings"></ion-icon>
    <ion-label>Settings</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>



